@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  min-height: 800px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  background: url("https://unsplash.com/photos/yZygONrUBe8/download?force=true&w=1920");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-container {
  width: 100%;
  height: 800px;
  line-height: 1.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .body-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .body-container {
    width: 90%;
  }
}

@media (min-width: 1400px) {
  .body-container {
    width: 70%;
  }
}

.body-container_left {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #fff;
}

@media (max-width: 768px) {
  .body-container_left {
    width: 100%;
  }
}

.body-container_right {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #286efa;
  color: #fff;
}

@media (max-width: 768px) {
  .body-container_right {
    width: 100%;
  }
}

.steps-display {
  font-size: 0.7em;
  font-weight: bold;
  position: absolute;
  top: 1em;
  right: 3em;
}

.steps-display span {
  color: #999;
  font-size: 2em;
  position: relative;
  margin: 0 0 0 0.8em;
}

.steps-display span::before {
  content: '.';
  color: black;
  position: absolute;
  left: -0.5em;
}

.steps-display span::after {
  content: '.';
  position: absolute;
  left: 0.5em;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: #286efa;
}

.form-container {
  width: 50%;
  height: 60%;
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 992px) {
  .form-container {
    width: 100%;
  }
}

.form-container h1,
.form-container p {
  margin: 1em 0;
}

.form {
  width: 100%;
}

.form div {
  position: relative;
}

.form input:focus ~ label,
.form input:valid ~ label {
  top: 0.3em;
  font-size: 0.7em;
  padding: 0 0.5em;
  opacity: 1;
  background: #fff;
}

.form label {
  position: absolute;
  pointer-events: none;
  color: #999;
  top: 1.8em;
  left: 1em;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.form input,
.form select,
.form button {
  height: 3em;
  width: 100%;
  margin: 1em 0;
  padding: 0 0.7em;
  color: #999;
  border: 1px solid #ededed;
  border-radius: 3px;
}

.form input:focus,
.form select:focus,
.form button:focus {
  outline: none;
}

.form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  position: relative;
}

.form select::-ms-expand {
  display: none;
}

.form .fa {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  position: absolute;
  top: 2em;
  right: 1em;
}

.form .fa.fa-eye {
  font-size: 0.8em;
  top: 2.8em;
  right: 1.3em;
}

.form .fa#eye-icon {
  display: none;
}

.form button {
  padding: 0.8em;
  border: none;
  background: #ededed;
  font-size: 0.8em;
  cursor: pointer;
}

.form button:hover {
  background: #ccc;
}

.form #password-alert {
  font-size: 0.7em;
  margin-top: -1.5em;
}

.error-message {
  margin: 0 1em;
  padding: 0;
  font-size: 0.8em;
  color: red;
  position: absolute;
  bottom: -2em;
}

.heading-container {
  width: 60%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 992px) {
  .heading-container {
    width: 90%;
    padding: 2em;
  }
}

.heading-container h1 {
  text-align: center;
  margin-bottom: 2em;
}
/*# sourceMappingURL=signup.css.map */